-- ====================================================================
-- Cß║ñU TR├ÜC C╞á Sß╗₧ Dß╗« LIß╗åU Hß╗å THß╗ÉNG KETOAN ERP - TH├öNG T╞» 99/2025/TT-BTC
-- QUß║óN L├¥ ─ÉA TIß╗ÇN Tß╗å - Sß╗É L╞»ß╗óNG KHO - PH├éN Hß╗å KH├ôA Sß╗ö & ─Éß╗ÉI T├üC SUB-LEDGER
-- ====================================================================

CREATE TABLE IF NOT EXISTS companies (
    id SERIAL PRIMARY KEY,
    name VARCHAR(255) NOT NULL,
    tax_code VARCHAR(50) UNIQUE NOT NULL,
    address TEXT,
    is_active BOOLEAN DEFAULT TRUE, -- Trß║íng th├íi hoß║ít ─æß╗Öng cß╗ºa c├┤ng ty
    lock_date DATE DEFAULT NULL, -- Ng├áy kh├│a sß╗ò kß║┐ to├ín chß║╖n sß╗¡a/x├│a dß╗» liß╗çu qu├í khß╗⌐
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

CREATE TABLE IF NOT EXISTS users (
    id SERIAL PRIMARY KEY,
    username VARCHAR(100) UNIQUE NOT NULL,
    password TEXT NOT NULL,
    role VARCHAR(20) NOT NULL DEFAULT 'nv', -- admin, ktt, nv
    company_ids INT[] DEFAULT '{}', -- Mß║úng ID c├íc c├┤ng ty user c├│ quyß╗ün truy cß║¡p
    staff_ids INT[] DEFAULT '{}', -- Mß║úng ID nh├ón vi├¬n phß╗Ñ tr├ích (chß╗ë cho KTT)
    manager_id INT REFERENCES users(id) ON DELETE SET NULL, -- Kß║┐ to├ín tr╞░ß╗ƒng quß║ún l├╜
    must_change_password BOOLEAN DEFAULT FALSE, -- Bß║»t buß╗Öc ─æß╗òi mß║¡t khß║⌐u lß║ºn ─æß║ºu
    is_root_admin BOOLEAN DEFAULT FALSE, -- Chß╗ë t├ái khoß║ún root admin mß╗¢i xem ─æ╞░ß╗úc audit logs
    preferences JSONB DEFAULT '{}', -- L╞░u trß╗» t├╣y chß╗ënh giao diß╗çn
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

CREATE INDEX IF NOT EXISTS idx_users_company_ids ON users USING GIN(company_ids);
CREATE INDEX IF NOT EXISTS idx_users_staff_ids ON users USING GIN(staff_ids);

CREATE TABLE IF NOT EXISTS user_companies (
    user_id INT NOT NULL REFERENCES users(id) ON DELETE CASCADE,
    company_id INT NOT NULL REFERENCES companies(id) ON DELETE CASCADE,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    PRIMARY KEY (user_id, company_id)
);

CREATE INDEX IF NOT EXISTS idx_user_companies_company_id ON user_companies(company_id);

DO $$
BEGIN
    IF EXISTS (
        SELECT 1
        FROM pg_constraint c
        JOIN pg_class t ON t.oid = c.conrelid
        WHERE t.relname = 'users' AND c.conname = 'users_role_check'
    ) THEN
        ALTER TABLE users DROP CONSTRAINT users_role_check;
    END IF;

    ALTER TABLE users
    ADD CONSTRAINT users_role_check
    CHECK (role IN ('admin', 'ktt', 'nv', 'nv_banhang', 'nv_kho', 'gd_kinhdoanh'));
EXCEPTION
    WHEN duplicate_object THEN NULL;
END $$;

CREATE TABLE IF NOT EXISTS partners (
    id SERIAL PRIMARY KEY,
    company_id INT NOT NULL REFERENCES companies(id) ON DELETE CASCADE,
    partner_code VARCHAR(50) NOT NULL,
    partner_name VARCHAR(255) NOT NULL,
    type VARCHAR(20) NOT NULL CHECK (type IN ('customer', 'supplier', 'both')),
    phone VARCHAR(50),
    email VARCHAR(255),
    address TEXT,
    is_active BOOLEAN DEFAULT TRUE,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    CONSTRAINT unique_partner_company_code UNIQUE (company_id, partner_code)
);

CREATE TABLE IF NOT EXISTS items (
    id SERIAL PRIMARY KEY,
    company_id INT NOT NULL REFERENCES companies(id) ON DELETE CASCADE,
    code VARCHAR(50) NOT NULL,
    name VARCHAR(255) NOT NULL,
    description TEXT,
    unit VARCHAR(50) DEFAULT 'C├íi',
    price_sell NUMERIC(15,2) DEFAULT 0,
    opening_quantity NUMERIC(15,4) DEFAULT 0,
    image_url TEXT,
    image_urls JSONB DEFAULT '[]',
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT unique_item_company_code UNIQUE (company_id, code)
);

ALTER TABLE items ADD COLUMN IF NOT EXISTS price_sell NUMERIC(15,2) DEFAULT 0;
ALTER TABLE items ADD COLUMN IF NOT EXISTS opening_quantity NUMERIC(15,4) DEFAULT 0;
ALTER TABLE items ADD COLUMN IF NOT EXISTS image_url TEXT;
ALTER TABLE items ADD COLUMN IF NOT EXISTS image_urls JSONB DEFAULT '[]';
ALTER TABLE items ADD COLUMN IF NOT EXISTS description TEXT;

CREATE TABLE IF NOT EXISTS vouchers (
    id SERIAL PRIMARY KEY,
    company_id INT NOT NULL REFERENCES companies(id) ON DELETE CASCADE,
    voucher_number VARCHAR(100) NOT NULL,
    voucher_date DATE NOT NULL,
    voucher_type VARCHAR(10) NOT NULL, -- PT, PC, NK, XK, DauKy
    description TEXT,
    currency VARCHAR(10) DEFAULT 'VND',
    exchange_rate NUMERIC(15,4) DEFAULT 1.0000,
    created_by INT REFERENCES users(id) ON DELETE SET NULL,
    is_posted BOOLEAN DEFAULT FALSE,
    posted_at TIMESTAMP DEFAULT NULL,
    posted_by INT REFERENCES users(id) ON DELETE SET NULL,
    loading_status VARCHAR(20) DEFAULT 'pending_loading',
    truck_id INT DEFAULT NULL,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

ALTER TABLE vouchers ADD COLUMN IF NOT EXISTS is_posted BOOLEAN DEFAULT FALSE;
ALTER TABLE vouchers ADD COLUMN IF NOT EXISTS posted_at TIMESTAMP DEFAULT NULL;
ALTER TABLE vouchers ADD COLUMN IF NOT EXISTS posted_by INT REFERENCES users(id) ON DELETE SET NULL;
ALTER TABLE vouchers ADD COLUMN IF NOT EXISTS loading_status VARCHAR(20) DEFAULT 'pending_loading';
ALTER TABLE vouchers ADD COLUMN IF NOT EXISTS truck_id INT DEFAULT NULL;

-- 2-Way Sales Template fields
ALTER TABLE vouchers ADD COLUMN IF NOT EXISTS discount_amount NUMERIC(15,2) DEFAULT 0;
ALTER TABLE vouchers ADD COLUMN IF NOT EXISTS coupon_code VARCHAR(50) DEFAULT NULL;
ALTER TABLE vouchers ADD COLUMN IF NOT EXISTS tax_rate NUMERIC(5,2) DEFAULT 0;
ALTER TABLE vouchers ADD COLUMN IF NOT EXISTS tax_amount NUMERIC(15,2) DEFAULT 0;
ALTER TABLE vouchers ADD COLUMN IF NOT EXISTS shipping_fee NUMERIC(15,2) DEFAULT 0;
ALTER TABLE vouchers ADD COLUMN IF NOT EXISTS payment_method VARCHAR(50) DEFAULT NULL;
ALTER TABLE vouchers ADD COLUMN IF NOT EXISTS payment_status VARCHAR(20) DEFAULT 'pending';
ALTER TABLE vouchers ADD COLUMN IF NOT EXISTS sales_channel VARCHAR(50) DEFAULT 'storefront';

CREATE TABLE IF NOT EXISTS voucher_details (
    id SERIAL PRIMARY KEY,
    voucher_id INT NOT NULL REFERENCES vouchers(id) ON DELETE CASCADE,
    account_code VARCHAR(20) NOT NULL,
    entry_type VARCHAR(2) NOT NULL CHECK (entry_type IN ('DR', 'CR')), -- DR: Nß╗ú, CR: C├│
    amount NUMERIC(15,2) NOT NULL CHECK (amount >= 0), -- Sß╗æ tiß╗ün quy ─æß╗òi nguy├¬n tß╗ç sang VND
    quantity NUMERIC(15,4) DEFAULT 0,                  -- Sß╗æ l╞░ß╗úng quß║ún l├╜ kho
    partner_id INT REFERENCES partners(id) ON DELETE SET NULL, -- Chi tiß║┐t c├┤ng nß╗ú phß╗Ñ
    item_id INT REFERENCES items(id) ON DELETE SET NULL        -- Chi tiß║┐t m├ú vß║¡t t╞░ phß╗Ñ
);

ALTER TABLE voucher_details ADD COLUMN IF NOT EXISTS amount_origin NUMERIC(15,2);
ALTER TABLE voucher_details ADD COLUMN IF NOT EXISTS currency_origin VARCHAR(10) DEFAULT 'VND';

CREATE TABLE IF NOT EXISTS opening_balances (
    id SERIAL PRIMARY KEY,
    company_id INT NOT NULL REFERENCES companies(id) ON DELETE CASCADE,
    fiscal_year INT NOT NULL,
    account_code VARCHAR(20) NOT NULL,
    opening_debit NUMERIC(15,2) DEFAULT 0,
    opening_credit NUMERIC(15,2) DEFAULT 0,
    partner_id INT REFERENCES partners(id) ON DELETE SET NULL, -- Hß╗ù trß╗ú t├ái khoß║ún l╞░ß╗íng t├¡nh theo ─æß╗æi t├íc (TK 131, 331)
    is_locked BOOLEAN DEFAULT FALSE,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT unique_opening_balance UNIQUE (company_id, account_code, fiscal_year, partner_id)
);

-- Hß╗å THß╗ÉNG INDEXES Tß╗ÉI ╞»U HIß╗åU N─éNG TRUY Vß║ñN V├Ç Dß╗ÆN T├ìCH Sß╗É D╞»
CREATE INDEX IF NOT EXISTS idx_vouchers_date_company ON vouchers(company_id, voucher_date);
CREATE INDEX IF NOT EXISTS idx_vouchers_posted_status ON vouchers(company_id, is_posted, voucher_date DESC);
CREATE INDEX IF NOT EXISTS idx_vouchers_posted_only ON vouchers(company_id, voucher_date DESC) WHERE is_posted = TRUE;
CREATE INDEX IF NOT EXISTS idx_voucher_details_lookup ON voucher_details(voucher_id, account_code, entry_type);
CREATE INDEX IF NOT EXISTS idx_opening_balances_lookup ON opening_balances(company_id, fiscal_year, account_code);
CREATE INDEX IF NOT EXISTS idx_partners_company_search ON partners(company_id, partner_code, partner_name);
CREATE TABLE IF NOT EXISTS trucks (
    id SERIAL PRIMARY KEY,
    company_id INT NOT NULL REFERENCES companies(id) ON DELETE CASCADE,
    plate_number VARCHAR(20) NOT NULL,
    driver_name VARCHAR(255),
    status VARCHAR(20) DEFAULT 'available',
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT unique_truck_company_plate UNIQUE (company_id, plate_number)
);

DO $$
BEGIN
  IF NOT EXISTS (
    SELECT 1 FROM pg_constraint WHERE conname = 'vouchers_truck_id_fk'
  ) THEN
    ALTER TABLE vouchers ADD CONSTRAINT vouchers_truck_id_fk FOREIGN KEY (truck_id) REFERENCES trucks(id) ON DELETE SET NULL;
  END IF;
END $$;

CREATE INDEX IF NOT EXISTS idx_items_company_search ON items(company_id, code, name);

-- ====================================================================
-- Bß╗ö SUNG Bß║óNG NHß║¼T K├¥ Hß╗å THß╗ÉNG (AUDIT LOGS) & IP TRACKING
-- ====================================================================

CREATE TABLE IF NOT EXISTS audit_logs (
    id SERIAL PRIMARY KEY,
    user_id INT REFERENCES users(id) ON DELETE SET NULL,
    action VARCHAR(50) NOT NULL,       -- LOGIN, CREATE, UPDATE, DELETE
    entity_type VARCHAR(50) NOT NULL,  -- VOUCHERS, USERS, PARTNERS, COMPANIES, ITEMS, INVENTORY_VOUCHERS
    old_values JSONB DEFAULT NULL,     -- Trß║íng th├íi dß╗» liß╗çu TR╞»ß╗ÜC khi thay ─æß╗òi
    new_values JSONB DEFAULT NULL,     -- Trß║íng th├íi dß╗» liß╗çu SAU khi thay ─æß╗òi
    ip_address VARCHAR(45) NOT NULL,   -- Hß╗ù trß╗ú l╞░u cß║ú ─æß╗ïa chß╗ë IPv4 v├á IPv6 ─æß║ºy ─æß╗º
    company_id INT REFERENCES companies(id) ON DELETE SET NULL, -- Doanh nghiß╗çp li├¬n quan
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
);

-- Th├¬m cß╗Öt company_id cho bß║úng audit_logs hiß╗çn c├│
ALTER TABLE audit_logs ADD COLUMN IF NOT EXISTS company_id INT REFERENCES companies(id) ON DELETE SET NULL;

-- Tß║ío Index t─âng tß╗æc truy vß║Ñn t├¼m kiß║┐m lß╗ïch sß╗¡ cho Admin
CREATE INDEX IF NOT EXISTS idx_audit_logs_user_id ON audit_logs(user_id);
CREATE INDEX IF NOT EXISTS idx_audit_logs_action_entity ON audit_logs(action, entity_type);
CREATE INDEX IF NOT EXISTS idx_audit_logs_created_at ON audit_logs(created_at DESC);
CREATE INDEX IF NOT EXISTS idx_audit_logs_company_id ON audit_logs(company_id);

-- ====================================================================
-- Bß║óNG SESSIONS - QUß║óN L├¥ PHI├èN L├ÇM VIß╗åC (JWT + REFRESH TOKEN)
-- ====================================================================
CREATE TABLE IF NOT EXISTS sessions (
    id SERIAL PRIMARY KEY,
    user_id INT NOT NULL REFERENCES users(id) ON DELETE CASCADE,
    token TEXT NOT NULL, -- Access Token (JWT)
    refresh_token TEXT NOT NULL, -- Refresh Token (─æ├ú hash)
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    expires_at TIMESTAMP,
    ip_address VARCHAR(45), -- Hß╗ù trß╗ú IPv4 v├á IPv6
    device_info TEXT -- User-Agent string
);

-- Index ─æß╗â t─âng tß╗æc kiß╗âm tra session khi authenticate
CREATE INDEX IF NOT EXISTS idx_sessions_token ON sessions(token);
CREATE INDEX IF NOT EXISTS idx_sessions_user_id ON sessions(user_id);
CREATE INDEX IF NOT EXISTS idx_sessions_refresh_token ON sessions(refresh_token);
CREATE INDEX IF NOT EXISTS idx_sessions_expires_at ON sessions(expires_at);

CREATE TABLE IF NOT EXISTS notifications (
    id SERIAL PRIMARY KEY,
    company_id INT REFERENCES companies(id) ON DELETE CASCADE,
    order_id INT REFERENCES vouchers(id) ON DELETE SET NULL,
    type VARCHAR(50) NOT NULL,
    title VARCHAR(255) NOT NULL,
    message TEXT,
    recipient_role VARCHAR(20),
    is_read BOOLEAN DEFAULT FALSE,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

CREATE INDEX IF NOT EXISTS idx_notifications_company ON notifications(company_id, is_read);
CREATE INDEX IF NOT EXISTS idx_notifications_recipient ON notifications(recipient_role, is_read);

-- ====================================================================
-- Bß║óNG PUSH SUBSCRIPTIONS - L╞»U TRß╗« TH├öNG TIN ─É─éNG K├¥ PUSH NOTIFICATION
-- ====================================================================
CREATE TABLE IF NOT EXISTS push_subscriptions (
    id SERIAL PRIMARY KEY,
    user_id INT REFERENCES users(id) ON DELETE CASCADE,
    company_id INT REFERENCES companies(id) ON DELETE CASCADE,
    endpoint TEXT NOT NULL,
    p256dh TEXT NOT NULL,
    auth TEXT NOT NULL,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    UNIQUE(user_id, endpoint)
);

CREATE INDEX IF NOT EXISTS idx_push_subs_user ON push_subscriptions(user_id);
CREATE INDEX IF NOT EXISTS idx_push_subs_company ON push_subscriptions(company_id);
CREATE INDEX IF NOT EXISTS idx_push_subs_updated ON push_subscriptions(updated_at);

-- Cleanup expired subscriptions (run periodically)
CREATE OR REPLACE FUNCTION cleanup_expired_push_subscriptions()
RETURNS void AS $$
BEGIN
    DELETE FROM push_subscriptions
    WHERE updated_at < NOW() - INTERVAL '90 days'
    AND id NOT IN (
        SELECT user_id FROM sessions WHERE expires_at > NOW()
    );
END;
$$ LANGUAGE plpgsql;

-- ====================================================================
-- Bß╗ö SUNG Bß║óNG WORKFLOW Kß║╛T CHUYß╗éN, Tß╗öNG Hß╗óP TH├üNG V├Ç PHIß║╛U KHO CHI TIß║╛T
-- ====================================================================

CREATE TABLE IF NOT EXISTS closing_entries (
    id SERIAL PRIMARY KEY,
    company_id INT NOT NULL REFERENCES companies(id) ON DELETE CASCADE,
    year INT NOT NULL,
    month INT NOT NULL CHECK (month >= 1 AND month <= 12),
    status VARCHAR(20) NOT NULL DEFAULT 'processing',
    started_at TIMESTAMP NOT NULL DEFAULT NOW(),
    finished_at TIMESTAMP DEFAULT NULL,
    error_message TEXT,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT closing_entries_status_check CHECK (status IN ('processing', 'completed', 'failed'))
);

CREATE INDEX IF NOT EXISTS idx_closing_entries_lookup ON closing_entries(company_id, year, month, status);

CREATE TABLE IF NOT EXISTS monthly_balances (
    id SERIAL PRIMARY KEY,
    company_id INTEGER NOT NULL REFERENCES companies(id) ON DELETE CASCADE,
    account_code VARCHAR(20) NOT NULL,
    partner_id INTEGER NULL REFERENCES partners(id) ON DELETE SET NULL,
    month INTEGER NOT NULL CHECK (month >= 1 AND month <= 12),
    year INTEGER NOT NULL,
    closing_debit NUMERIC(18,2) NOT NULL DEFAULT 0,
    closing_credit NUMERIC(18,2) NOT NULL DEFAULT 0,
    net_balance NUMERIC(18,2) NOT NULL DEFAULT 0,
    balance_type VARCHAR(10) NOT NULL DEFAULT 'DEBIT' CHECK (balance_type IN ('DEBIT', 'CREDIT')),
    created_at TIMESTAMP DEFAULT NOW(),
    updated_at TIMESTAMP DEFAULT NOW()
);

CREATE UNIQUE INDEX IF NOT EXISTS ux_monthly_balances_company_account_partner_month_year
ON monthly_balances(company_id, account_code, COALESCE(partner_id, 0), month, year);

CREATE INDEX IF NOT EXISTS idx_monthly_balances_lookup ON monthly_balances(company_id, year, month);
CREATE INDEX IF NOT EXISTS idx_monthly_balances_account ON monthly_balances(account_code);
CREATE INDEX IF NOT EXISTS idx_monthly_balances_partner ON monthly_balances(partner_id, account_code) WHERE partner_id IS NOT NULL;
CREATE INDEX IF NOT EXISTS idx_monthly_balances_net_balance ON monthly_balances(company_id, year, month, balance_type);

CREATE TABLE IF NOT EXISTS inventory_vouchers (
    id SERIAL PRIMARY KEY,
    company_id INT NOT NULL REFERENCES companies(id) ON DELETE CASCADE,
    voucher_number VARCHAR(100) NOT NULL,
    voucher_date DATE NOT NULL,
    io_type VARCHAR(10) NOT NULL CHECK (io_type IN ('IMPORT', 'EXPORT')),
    partner_id INT REFERENCES partners(id) ON DELETE SET NULL,
    description TEXT,
    created_by INT REFERENCES users(id) ON DELETE SET NULL,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT unique_inventory_voucher_number UNIQUE (company_id, voucher_number)
);

CREATE INDEX IF NOT EXISTS idx_inventory_vouchers_company_date ON inventory_vouchers(company_id, voucher_date DESC);

CREATE TABLE IF NOT EXISTS inventory_voucher_details (
    id SERIAL PRIMARY KEY,
    inventory_voucher_id INT NOT NULL REFERENCES inventory_vouchers(id) ON DELETE CASCADE,
    item_id INT NOT NULL REFERENCES items(id) ON DELETE RESTRICT,
    debit_account_code VARCHAR(20) NOT NULL,
    credit_account_code VARCHAR(20) NOT NULL,
    quantity NUMERIC(15,4) NOT NULL CHECK (quantity > 0),
    unit_price NUMERIC(15,2) NOT NULL DEFAULT 0,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

CREATE INDEX IF NOT EXISTS idx_inventory_voucher_details_master ON inventory_voucher_details(inventory_voucher_id);
CREATE INDEX IF NOT EXISTS idx_inventory_voucher_details_item ON inventory_voucher_details(item_id);

-- ====================================================================
-- INDEX Bß╗ö SUNG CHO HIß╗åU N─éNG PH├éN Hß╗å CHß╗¿NG Tß╗¬ V├Ç ─ÉA TIß╗ÇN Tß╗å
-- ====================================================================

CREATE INDEX IF NOT EXISTS idx_vouchers_company_date ON vouchers(company_id, voucher_date DESC);
CREATE INDEX IF NOT EXISTS idx_details_account_entry ON voucher_details(account_code, entry_type);
CREATE INDEX IF NOT EXISTS idx_details_voucher_lookup ON voucher_details(voucher_id);
CREATE INDEX IF NOT EXISTS idx_details_partner_account ON voucher_details(partner_id, account_code) WHERE partner_id IS NOT NULL;
CREATE INDEX IF NOT EXISTS idx_details_tax_accounts ON voucher_details(account_code) WHERE account_code LIKE '333%';
CREATE INDEX IF NOT EXISTS idx_details_currency ON voucher_details(currency_origin, voucher_id) WHERE currency_origin != 'VND';

-- ====================================================================
-- Bß║óNG H├ôA ─É╞áN ─ÉIß╗åN Tß╗¼ (N─É 254/2026/N─É-CP)
-- ====================================================================
CREATE TABLE IF NOT EXISTS e_invoices (
    id SERIAL PRIMARY KEY,
    company_id INT NOT NULL REFERENCES companies(id) ON DELETE CASCADE,
    invoice_no VARCHAR(100) NOT NULL,
    template VARCHAR(20) NOT NULL DEFAULT '01GTKT0',
    symbol VARCHAR(50) NOT NULL,
    buyer_name VARCHAR(255) NOT NULL,
    buyer_tax_code VARCHAR(50) DEFAULT NULL,
    buyer_address TEXT DEFAULT NULL,
    amount NUMERIC(15,2) NOT NULL DEFAULT 0,
    tax_amount NUMERIC(15,2) NOT NULL DEFAULT 0,
    total NUMERIC(15,2) NOT NULL DEFAULT 0,
    voucher_id INT DEFAULT NULL,
    status VARCHAR(20) NOT NULL DEFAULT 'issued',
    issued_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

CREATE UNIQUE INDEX IF NOT EXISTS ux_e_invoices_company_invoice_no ON e_invoices(company_id, invoice_no);
CREATE INDEX IF NOT EXISTS idx_e_invoices_company ON e_invoices(company_id);
CREATE INDEX IF NOT EXISTS idx_e_invoices_issued_at ON e_invoices(issued_at DESC);

-- ====================================================================
-- Bß║óNG CONSENT / CLICK-WRAP AGREEMENT (N─É 48/2024/N─É-CP)
-- ====================================================================
CREATE TABLE IF NOT EXISTS consents (
    id SERIAL PRIMARY KEY,
    user_id INT NOT NULL REFERENCES users(id) ON DELETE CASCADE,
    policy_type VARCHAR(50) NOT NULL, -- 'privacy' | 'terms' | 'marketing'
    policy_version VARCHAR(20) NOT NULL,
    agreed_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    ip_address VARCHAR(45) NOT NULL,
    user_agent TEXT DEFAULT NULL,
    CONSTRAINT ux_consents_user_policy UNIQUE (user_id, policy_type, policy_version)
);

CREATE INDEX IF NOT EXISTS idx_consents_user ON consents(user_id);
CREATE INDEX IF NOT EXISTS idx_consents_policy ON consents(policy_type, policy_version);

-- ====================================================================
-- Bß║óNG COMPANY_PROFILES & COMPLAINTS (N─É 248/2026 ─É4 + khiß║┐u nß║íi)
-- ====================================================================
CREATE TABLE IF NOT EXISTS company_profiles (
    company_id INT PRIMARY KEY REFERENCES companies(id) ON DELETE CASCADE,
    legal_name VARCHAR(255) DEFAULT NULL,
    email VARCHAR(255) DEFAULT NULL,
    hotline VARCHAR(50) DEFAULT NULL,
    website VARCHAR(255) DEFAULT NULL,
    license_no VARCHAR(100) DEFAULT NULL,
    dpo_name VARCHAR(255) DEFAULT NULL,
    dpo_email VARCHAR(255) DEFAULT NULL,
    data_retention_days INT DEFAULT 3650,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

CREATE TABLE IF NOT EXISTS complaints (
    id SERIAL PRIMARY KEY,
    company_id INT NOT NULL REFERENCES companies(id) ON DELETE CASCADE,
    name VARCHAR(255) NOT NULL,
    email VARCHAR(255) DEFAULT NULL,
    content TEXT NOT NULL,
    status VARCHAR(20) NOT NULL DEFAULT 'pending',
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

CREATE INDEX IF NOT EXISTS idx_complaints_company ON complaints(company_id);

-- ====================================================================
-- Bß║óNG REFUND_REQUESTS (N─É 248/2026 ─É14 - Ho├án tiß╗ün & hß╗ºy g├│i)
-- ====================================================================
CREATE TABLE IF NOT EXISTS refund_requests (
    id SERIAL PRIMARY KEY,
    company_id INT NOT NULL REFERENCES companies(id) ON DELETE CASCADE,
    user_id INT REFERENCES users(id) ON DELETE SET NULL,
    voucher_id INT DEFAULT NULL,
    amount NUMERIC(15,2) NOT NULL CHECK (amount >= 0),
    reason TEXT NOT NULL,
    status VARCHAR(20) NOT NULL DEFAULT 'pending',
    approved_by INT REFERENCES users(id) ON DELETE SET NULL,
    approved_at TIMESTAMP DEFAULT NULL,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

CREATE INDEX IF NOT EXISTS idx_refund_requests_company ON refund_requests(company_id);
CREATE INDEX IF NOT EXISTS idx_refund_requests_status ON refund_requests(status);
